@use './variables' as vars;

.p-button {
  &.p-button-outlined {
    &.btn-blue {
      color: vars.$blue;
      background-color: transparent;

      &:enabled:focus {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px vars.$blue, 0 1px 2px 0 rgb(0, 0, 0);
      }

      &:hover {
        box-shadow:
          0 6px 10px rgba(0, 0, 0, 0.1),
          0 14px 28px rgba(0, 0, 0, 0.08);
        transform: translateY(-2px);
      }
    }
  }

 
    &.btn-blue {
      background-color: vars.$blue;
      border-color: vars.$blue;

      &:enabled:focus {
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px vars.$blue, 0 1px 2px 0 rgb(0, 0, 0);
      }

      &:hover {
        box-shadow:
          0 6px 10px rgba(0, 0, 0, 0.1),
          0 14px 28px rgba(0, 0, 0, 0.08);
        transform: translateY(-2px);
      }
    }
   
}